footer {
	background: #262626;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	width: 100%;

	.mob-social-list {
		display: none;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
	}

	.col {
		width: 20%;
		padding-top: 10px;
	}

	h6 {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: lighter;
	}

	ul {
		list-style: none;
		margin-bottom: 35px;
	}
	a {
		text-decoration: none;
		color: #ababab;
		display: block;
		padding: 6px 0;
	}
	.choose-country {
		background: #363636;
		width: 100%;
		text-align: left;
		cursor: pointer;
		padding: 13px 0 13px 10px;
		border: 1px solid #b7b7b7;
		color: #ababab;
		font-size: 16px;

		object.dropdown {
			display: inline-block;
			float: right;
			margin-right: 10px;
		}
	}
	p {
		border-top: 1px solid #464646;
		border-bottom: 1px solid #464646;
		padding: 20px;
		text-align: center;

		.exit {
			display: block;
			float: right;
		}
		.exit::after {
			color:#fff;
		}
	}
	.cell-exit {
		margin: 10px 0 20px 0;
	}
	.exit {
		display: inline-block;
	}

	.exit::after {
		content: ' \2192';
		color:#ababab;
	}

	.lang {
		display: block;
		height: 70px;
	}

	.social-network {
		margin-top: 15px;
	}

	.social-network li {
		display: inline-block;
	}
	.social-network a {
		display: inline-block;
		height: 35px;
		width: 35px;
		margin-left: 10px;

		&:first-child{
			margin-left: 0;
		}
	}

	.social-network .fb {
		background: url('../../images/icons/footer-fb.svg') no-repeat;
	}

	.social-network .insta {
		background: url('../../images/icons/footer-insta.svg') no-repeat;
	}

	.social-network .youtube {
		background: url('../../images/icons/footer-youtube.svg') no-repeat;
		padding: 0 0 15px;
		height: 30px;
		width: 30px;		
	}

	.wrapper-country {
		position: relative;
	}

	.wrapper-country ul {
		display: none;
		position: absolute;
		margin: 0;
		height: 200px;

		li {
			background: #b7b7b7;
			text-align: center;
			width: 200px;
		}

		li:hover {
			background: #fff;
		}

		a {
			color: #363636;
		}
	}

	.pay {
		display: block;
		float: left;
		padding: 10px 25px;
		text-align: center;
		background: rgba(196, 196, 196, 0.4);
		color: #fff;
	}

	.contribution {
		display: none;
	}
}

@media (min-width: 992px) {
	footer {

		.col:nth-child(2), .col:last-child  {
			border-left: 1px solid #464646;
		}
		.col:nth-child(2) {
			padding-left: 30px;
		}

		.lang {
			margin: 20px;
			margin-top:30px;
		}

		.wrapper {
			margin-bottom: 50px;
		}

		.into-world {
			padding-left: 30px;
		}
	}
}

@media (max-width: 482px) {
	footer {
		.choose-country {
			width: 160px!important;
		}
	}
	footer .wrapper-country ul li {
		width: 160px !important;
	}
}

@media (max-width: 992px) {
	footer {
		text-align: center;
		padding: 0;

		.container {
			width: 100%;
			padding: 0 0 60px 0;
		}

		.beefup__body a {
			padding: 20px;
		}

		.container > p {
			min-height: 60px;
			padding: 20px 30px;
		}

		.contribution {
			display: block;
		}

		.mob-social-list {
			display: block
		}

		.wrapper {
			flex-direction: column;
		}
		.choose-country {
			width: 200px;
		}

		.col {
			width: 100%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			cursor: pointer;
			background:#262626;
		}
		.col:first-child .pay {
			display: none;
		}
		
		.col ul {
			//display: none;
		}

		.col .lang {
			display: none;
		}

		.col:last-child {
			display: flex;
			text-align: left;

			h6 {
				margin-bottom: 20px;
			}

			& > div {
				width: 50%;
				padding: 35px 0;
			}

			& > div > ul {
				display: block;	
			}
		}

		.into-world ul {
			margin: 0;
		}

		.into-world .social-network {
			display: none;
		}

		.mob-social-list {
			padding-left: 30px !important;
		}

		.social-network {
			margin: 0;
			
			a {
				height: 53px;
				width: 53px;
			}
		}

		.social-network .youtube {
			padding: 0 0 19px;
			height: 45px;
			width: 45px;		
		}
		

		.col ul.active {
			display: block;
		}

		.lang {
			display: inline-block;
		}

		.container > p {
			.pay {
				margin-top: 10px
			}

			.exit {
				margin-top: 20px;
			}
	
			.time-update {
				margin-top: 10px;
				display: block;
				text-align: center;
			}			
		}
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	footer {
		.pay {
			padding: 7px 15px;
			float: none;
		}
	}
}