.nav-area {
  text-align: center;
  font-family: "Open Sans", sans-serif;

  .responsive-menu {
    display: none;
  }

  .desctopMenu {
    display: inline-block;

    ul {
      display: none; // добавить стили для выподающего списка в десктоп.
    }
  }
  .responsive-menu {
    > li {
      position: relative;
    }
    .level_two {
      display: none;
      > li {
        width: 450px;
        background-color: #fff;
        display: block;
        > a {
          text-align: left;
        }
      }
    }
    .level_free {
      display: none;
      > li {
        width: 450px;
        background-color: #fff;
        display: block;
        > a {
          text-align: left;
        }
      }
    }
  }
  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;

    a {
      padding: 30px;
      color: #1b473b;
      text-decoration: none;
      display: block;
      text-align: center;
    }

    a:hover {
      background: #48beb7;
      color: white;
    }
  }
}
