.our-projects .wrapper {
	display: flex;
	font-family: 'Open Sans', sans-serif;

	.more:hover {
		background: var(--link-active-more-color);
		color: #fff;
		
		.a {
			fill: #fff;
		}
	}

	.col {
		width: 50%;
	}

	.col.left {
		padding-right: 70px; 
	}

	.photo {
		width: 585px;
		height: 400px;
		background-size: cover;
	}

	.cell {
		margin-bottom: 20px;
		padding: 0 55px 0 20px;
		border-left: 1px solid #fff;

		p {
			margin-top: 12px;
		}

		a {
			color: var(--link-active-more-color);
			text-decoration: none;
		}
	}

	.cell.activ {
		border-left: 1px solid  var(--link-active-more-color);	
	}

	h6 {
		font-size: 21px;
		margin: 0 0 14px 0;
		font-weight: 200;
		
	}

	.description {
		font-size: 12px;
		font-weight: 200;
	}

	.more {
        color: var(--link-active-more-color);
		text-decoration: none;
		margin-left: 20px;
	}
}

#carousel-prodjects {
	display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.our-projects .wrapper {
		
		.col.left {
			padding-right: 25px;
		}

		.photo {
			width: 480px;
		}
		
		.cell {
			padding: 0 25px 0 15px;
		}		
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.our-projects .container {
		padding-bottom: 0px;
	}
	.our-projects .wrapper {
		flex-direction: column-reverse;

		.col.left {
			padding-right: 0;
		}

		.cell {
			padding: 0 25px 0 15px;
			text-align: left;
		}

		.col {
			width: 100%;
			text-align: center;
		}

		.more {
			margin-bottom: 35px !important;
		}

		.photo {
			width: 100%;
		}

		.more {
			width: 230px;
			margin: 20px 0;
		}

	}
}
	
@media (max-width: 767px) {
	.our-projects .wrapper {
		h3.h3-header {
			padding-bottom: 0 !important;
		}

		.wrapper-line {
			padding: 0 15px;
		}

		.line {
			height: 1px;
			background: #C4C4C4;
		}
		
		.col {
			width: 100%;

			&.left {
				 display: none;
			}

			.cell {
				padding: 10px 0;
				margin: 0;
				background-image: url(../../images/icons/dropdown-blue.png);
				background-position: calc(100% - 20px) 35px;
				background-repeat: no-repeat;
				background-size: 20px;

				&.is-open {
					background-image: url(../../images/icons/dropright-blue.png);
					background-size: 12px;
					background-position: calc(100% - 20px) 33px;

					img.hide {
						display: block;
						height: 300px;
						width: 100%;
						margin: 30px 0 20px 0;
						object-fit: cover;
					}
				}

				h6 {
					margin: 15px 0 0 0;
					padding-left: 25px;
					padding-right: 37px;
					color: var(--link-active-more-color);
				}

				p {
					display: none;
				}

				.box-text {
					padding: 0 20px;
					display: block;
				}

				.text {
					display: block;
					padding: 0;
					width: 100%;
				}
				
				.see-more {
					margin: 15px auto;
					margin-top: 25px;
					width: 272px;
					display: block;
					border: 1px solid var(--link-active-more-color);
					text-align: center;
					font-family: Open Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: normal;
					padding: 10px 0;
				}
			}	
		}
		
		.link-all-projects {
			width: 272px;
			display: block;
			margin: 25px auto 0 auto;
		}

		.more {
			width: 270px;
			margin: 0;
		}
	}

}