.video {	
	position: relative;
	font-family: 'Open Sans', sans-serif;

	video {
		opacity: 0.5;
		pointer-events: none;
		//height: calc(100vh - 165px);
	}

	.box {
		padding-top: 140px;
		width: 100%;
		position: absolute;
		text-align: center;
		color: #004c46;
		z-index: 5;
	}

	h1 {
		font-size: 40px;
		margin-top: 27px;
		padding-bottom: 15px;
		font-weight: lighter;
		font-family: 'Merriweather', serif;
	}

	p {
		// margin-top: 30px;
		width: 380px;
		font-size: 20px;
		display: inline-block;
	}

	.invite {
		display: inline-block;
		margin-top: 45px;
		border: 1px solid #004c46;
		color: #004c46;
		text-decoration: none;
		padding: 15px 30px;
		font-size: 18px;
		font-weight: bold;
	}
	.invite:hover {
		background: #48beb7;
		color: #fff;
		border: 1px solid #48beb7;
	}
}

@media (max-width: 767px) {
	.video {
		height: calc(100vh - 85px);
		//height: 500px;
		background: url('../../images/videe_img');
		background-repeat: no-repeat;
		background-size: cover;

		h1 {
			height: 30px;
		}

		p {
			width: 100%;
		}

		video {
			display: none;
		}
	}
}