.world-news .flex-box {
	display: flex;
  	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;

	.header {
		display: inline-block;
		height: 200px;
		margin: 0;
		position: relative;
	}

	.header p {
		position: absolute;
		padding: 0 15px;
	}

	.header .name-news {
		bottom: 30px;

	}
	.header .name-country {
		bottom: 10px;
	}

    .col {
		width: 330px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.box {
			position: relative;
			text-align: left;
		}
        .line {
        	height: 5px;
        	border-radius: 3px;
        	margin-bottom: 15px;
        }
        .filos {
			background: #1e4ba5;
        }
        .cult {
        	background: #ff9900;
        }
        .volunt {
			background: #ff0000;
        }
        .cover {
        	height: 200px;
        	background-size: cover ;
        }
        .cover-2 {
        	height: 200px;
        	opacity: 0.8;
        	position: absolute;
        	z-index: 10;
        	width: 100%;
        }
        .header{
			height: 200px;
			position: absolute;
        	z-index: 20;
        	width: 100%;
        	color: #fff;
        	&>div {
        		align-content: flex-end;
        		&>div {
				height: 100px;
				width: 300px;
        		}
        	}
        }        
        .name-news {
        	font-size: 18px;
        	margin-bottom: 11px;
        }
        .name-country {
        	font-size: 12px;
        }
		.descript {
			padding: 15px 0;
			color: #262626;
			line-height: 1.5;
			text-align: left;
		}
        .more {
			color: var(--link-active-more-color);
			font-size: 18px;
		}
		.more:hover {
			color: #fff;
			background: var(--link-active-more-color);

			.a {
				fill: #fff;
			}
        }          
    }
}

@media (min-width: 768px) and (max-width: 992px) {
	.world-news .container {
		.col {
			width: 240px;
		}
		
	}
}
  
@media (min-width: 992px) and (max-width: 1199px) {
	.world-news .container  {
		.col {
			width: 275px;
			//height: 200px;
		}
	}
}

@media (max-width: 767px) {
	.world-news {
		display: none;
		background: #e5eeee;
	}
	.col.slick-slide.slick-current.slick-center {
		margin: 0 30px;
	}

	.world-news .h3-header {
		padding: 30px 15px 80px 15px;
	}

	.world-news .flex-box {
		flex-direction: column;
		margin-bottom: 0;
	
		.col {
			display: block;
			width: 100%;
			margin-bottom: 70px;

			.line {
				display:none;
			}

			.cover-2 {
				display: none;
			}

			.cover {
				height: 300px;
			}

			.header {
				height: 100px;
				font-family: Open Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 22px;
				line-height: 37px;/* identical to box height */
				color: var(--link-active-more-color);
				top:-70px;

				img {
					display: none;
				}
			}

			.descript{
				padding: 40px 25px;
			}

			.name-country {
				display: none;
			}
		}
		.more {
			width: 375px;
		}
	}
}