// font-family: 'Merriweather', serif;
// font-family: 'Open Sans', sans-serif;
@import "global/ace-responsive-menu";
@import "global/sprite";
@import "sections/header";
@import "sections/nav";
@import "sections/activity";
@import "sections/targets";
@import "sections/check-form";
@import "sections/footer";
@import "sections/our-projects";
@import "sections/world-news";
@import "sections/caurosel";
@import "sections/video";

@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) {
  .activity {
    height: 0;
  }

  header {
    width: 100%;
    height: 50px;
    .container {
      width: 100%;
      margin: 0 auto;
      .logo {
        margin-left: 20px;
      }
    }
    .phone-wraper {
      display: none;
    }
    .local-wraper {
      display: none;
    }
  }

  .activity {
    display: grid;
    height: auto;
    width: 100%;

    grid-template-columns: 100%;

    .container {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      width: 100%;
      height: auto;
      padding: 0;

      .col {
        display: block;
        width: 100%;
        height: 100%;

        .descript {
          padding: 15px 32px;
          .more {
            margin-top: 24px;
            padding: 16px;
            border: 1px solid #00bbd6;
            display: block;
            text-align: center;
            position: relative;

            > img {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .check-form {
    width: 100%;
    height: auto;
    > .container {
      display: grid;
      grid-template-columns: 100%;
      height: 100%;
      .cours-name {
        position: relative;
        width: 100%;
        padding: 0;
        > h2 {
          padding: 40px 32px 32px 32px;
          font-size: 48px;
          line-height: normal;
          margin: 0;
          text-transform: uppercase;
        }
        > p {
          font-size: 16px;
          line-height: 27px;
          padding: 0 32px;
        }
        .more {
          margin: 22px 32px 72px 32px;
          padding: 16px;
          border: 2px solid #01BBD6;
          display: block;
          text-align: center;
          position: relative;
          font-size: 18px;

          > img {
            margin-left: 10px;
          }
     
        }
      }
       form {
        margin: 0 24px 70px 24px;
        width: auto;

        input {
          width: 90%;
        }
      }
    }
  }

  .video {
    display: none;
  }

  .nav-area {
    position: relative;

    .desctopMenu {
      display: none;
    }

    .arrow {
      position: absolute;
      right: 7%;
      top: 36%;
      font-family: FontAwesome;
      content: "\f107";
      &:before {
        text-align: right;
        display: inline;
        font-size: 16px;
        font-family: FontAwesome;
        height: auto;
        content: "\f105";
        font-weight: 300;
        text-shadow: none;
        width: 10px;
        display: inline-block;
      }
    }

    .menu-toggle {
      position: absolute;
      top: -65px;
      right: -7px;
      background: none;

      #menu-btn {
        background: #1b473b;
        border: none;
      }
    }
    ul > li {
      display: block;
      text-align: left;

      > a {
        position: relative;
        text-align: left;
        padding: 15px 10px;
        border-bottom: 1px solid #cccccc;
      }
    }
    .responsive-menu {
      display: none;
      .level_two {
        display: none;
        position: relative;

        > li {
          width: 100%;
          display: block;
          text-align: left;
          background-color: rgb(250, 242, 242);

          > a {
            position: relative;
            padding-left: 50px;
          }
        }
      }
      .level_free {
        display: none;
        position: relative;
        > li {
          height: 53px;
          display: block;
          text-align: left;
          background-color: rgb(250, 242, 242);
          > a {
            padding-left: 50px;
          }
        }
      }
      .firstItem {
        border-top: 2px solid #1b473b;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199) {
  .container {
    width: 970px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.h3-header {
  margin: 60px 0 40px 0;
  text-align: center;
  text-transform: uppercase;
  color: #677278;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.hide {
  display: none;
}

object.dropdown {
  margin-left: 10px;
}
