// font-family: 'Merriweather', serif;
// font-family: 'Open Sans', sans-serif;
@import "global/variables.scss";
@import "global/ace-responsive-menu";
@import "global/sprite";
@import "sections/header";
@import "sections/nav";
@import "sections/activity";
@import "sections/targets";
@import "sections/check-form";
@import "sections/footer";
@import "sections/our-projects";
@import "sections/world-news";
@import "sections/mobile-world-news";
@import "sections/caurosel";
@import "sections/video";

@import url(http://fonts.googleapis.com/css?family=Roboto);
* {
  padding: 0;
  margin: 0;
}

html {
  -webkit-text-size-adjust: none
}

@-ms-viewport{
  width: device-width;
}

.more {
    padding: 16px 0;
    border: 1px solid var(--link-active-more-color);
    display: inline-block;
    width: 230px;
    text-align: center;
    position: relative;
    color:  var(--link-active-more-color);
    cursor: pointer;

    > img {
        margin-left: 10px;
  }
}
.more:hover {
  color: var(--link-active-more-color);
  border: 1px solid var(--link-active-more-color);
}

.container {
  padding: 60px 0;
}

@media (max-width: 767px) {

  .world-news {
    //display: none;
  }

  .carousel {
    //display: none;
  }

  .video {
    //display: none;
  }

  .h3-header {
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: normal;
    color: #00204C;
    text-align: left;
  }

  footer {
    //display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
	.container {
	  width: 750px;
	  margin: 0 auto;
  }

  .more {
    width: 100%;
  }
}
  
@media (min-width: 992px) and (max-width: 1199px) {
	.container {
	  width: 970px;
	  margin: 0 auto;
	}
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.h3-header {
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #677278;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: lighter;
}

.hide {
  display: none;
}

object.dropdown {
  margin-left: 10px;
}

/*.more::after {
  content: ' \2799';
}*/
